<?xml version="1.0" ?>
<model>
  <name>ar_marker_0</name>
  <version>1.0</version>
  <sdf version="1.6">model1.sdf</sdf>
  <author>
    <name>Trevor Chartier</name>
    <email>trevor.chartier@colostate.edu</email>
  </author>
  <description>
    A 5 cm × 5 cm ARUco marker with ID 0 for Gazebo.
  </description>
</model>
