<launch>

  <!-- Arguments for AR Marker Detection -->
  <arg name="marker_size" default="4.5"/>
  <arg name="max_new_marker_error" default="0.08"/>
  <arg name="max_track_error" default="0.2"/>
  <arg name="cam_image_topic" default="/head_camera/rgb/image_raw"/>
  <arg name="cam_info_topic" default="/head_camera/rgb/camera_info"/>
  <arg name="output_frame" default="base_link"/>

  <!-- AR Marker Detection Node -->
  <node pkg="ar_track_alvar"
        type="individualMarkersNoKinect"
        name="ar_track_alvar"
        output="screen">
    <param name="marker_size" value="$(arg marker_size)"/>
    <param name="max_new_marker_error" value="$(arg max_new_marker_error)"/>
    <param name="max_track_error" value="$(arg max_track_error)"/>
    <param name="output_frame" value="$(arg output_frame)"/>
    <remap from="camera_image" to="$(arg cam_image_topic)"/>
    <remap from="camera_info" to="$(arg cam_info_topic)"/>
  </node>

</launch>
