<launch>
  <!-- Set Gazebo model path -->
  <env name="GAZEBO_MODEL_PATH" value="$(optenv GAZEBO_MODEL_PATH):$(env HOME)/fetch_intro_ws/fetch_tasks/models"/>

  <!-- Load the URDF and SRDF configuration for MoveIt! -->
  <include file="$(find fetch_moveit_config)/launch/planning_context.launch">
    <arg name="load_robot_description" value="true"/>
  </include>

  <!-- Start the Move Group Action Server for motion planning -->
  <include file="$(find fetch_moveit_config)/launch/move_group.launch">
    <arg name="allow_trajectory_execution" value="true"/>
    <arg name="fake_execution" value="false"/>
  </include>


  <!-- RViz for visualization with custom configuration -->
  <node pkg="rviz" type="rviz" name="$(anon rviz)" args="-d $(find utility)/config/looking.rviz" />

  <!-- Custom Task3 Node -->
  <node pkg="fetch_tasks" type="task3_april.py" name="ar_tag_pose" output="screen"/>

</launch>
